.btn-green{
    background: rgba(150, 187, 124, 1);
   
}

.d1{
    color: rgba(150, 187, 124) !important;
    
}
    
.v-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.f-w{
    font-weight: 700;
}
.w1{
    width: 100px;
}
.d2{
    color: rgba(150, 187, 124) !important;
}
.my-160{
    margin: 160px;
}